.button {
    border-radius: 15px;
    padding: 5px 8px;
    background-color: #e3ffe5;
    width: 250px;
    height: 65px;
    color: #3f7754;
    border: 2px solid #0e5532;
}

.button h3 {
    font-family: 'Poor Story', system-ui;
    font-weight: 600;
    font-size: 24px;
}
