.contact-container {
    width: 100%;
    padding-top: 3rem;
    font-family: 'Poor Story', system-ui;
    margin-bottom: 6rem;
}

.contact-box {
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding: 10px;
    padding-top: 25px;
    background-color: #baffd4;
    border: 1px double black;
    border-radius: 15px;
}

.contact-box h2 {
    font-size: 48px;
    font-weight: 700;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info label {
    font-size: 18px;
}
.contact-info input{ 
    border-radius: 15px;
    padding: 5px;
}

.contact-submit {
    margin-top: 2rem;
    width: 125px;
    height: 50px;
    border-radius: 15px;
    color: #3f7754;
    font-size: 24px;
    background-color: #baffd4;
}