body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: #1a2b18;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
