.title {
    color: darkgreen;
    font-weight: 100;
    font-size: 64px;
}
.portfolio-container {
    width: 100%;
}

.list-container {
    padding-top: 3rem;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image img {
    height: 320px;
    width: auto;
}

@media screen and (max-width: 770px) {
    .image img {
        height: 200px;
    }
    .list-container {
        width: 95%;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
    gap: 3px;
}